@charset "UTF-8";
@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
:root {
  --white: #fff;
}

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  min-width: 360px;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  background: url(../img/btn-drop-arrow.svg) no-repeat 98% 50%;
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.lineClamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.d-pc {
  display: block !important;
}

.d-mo {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .d-pc {
    display: none !important;
  }
  .d-mo {
    display: block !important;
  }
}
.text-gra {
  background: linear-gradient(90deg, #00E5FF 0%, #1A6AFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.max1440 {
  display: block;
  width: 100%;
  height: auto;
  max-width: 1440px !important;
  margin: 0 auto;
}
.max1440 img {
  width: 100%;
}

h1 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 144%; /* 92.16px */
  letter-spacing: -1.92px;
  word-break: keep-all;
}

h2 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 92.16px */
  letter-spacing: -1.92px;
  word-break: keep-all;
}

h3 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 80.64px */
  letter-spacing: -1.68px;
  word-break: keep-all;
}

h4 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 69.12px */
  letter-spacing: -1.44px;
  word-break: keep-all;
}

h5 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 46.08px */
  letter-spacing: -0.96px;
  word-break: keep-all;
}

p.p1 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%; /* 34.56px */
  letter-spacing: -0.72px;
  word-break: keep-all;
}

p.p2 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 144%; /* 34.56px */
  letter-spacing: -0.72px;
  word-break: keep-all;
}

.btn-round {
  border-radius: 90px;
  padding: 16px 32px;
  display: inline-flex;
}
.btn-round.btn-gra {
  background: linear-gradient(90deg, #3B82F6 0%, #005BEA 100%);
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 30.72px */
  letter-spacing: -0.72px;
}
.btn-round.btn-grey {
  border: 2px solid #EEE;
  color: #EEE;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 30.72px */
  letter-spacing: -0.72px;
}
.btn-round.btn-white {
  border: 2px solid #FFF;
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 30.72px */
  letter-spacing: -0.72px;
}
.btn-round.btn-border {
  border: 2px solid #3B82F6;
  color: #3B82F6;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 30.72px */
  letter-spacing: -0.72px;
}

.gnbWrap {
  padding-top: 127px;
}

.gnb {
  z-index: 2;
  padding: 40px 0 35px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.gnb .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnb a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.gnb ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnb .menu {
  justify-content: space-between;
  flex: 1 0 0;
  max-width: 724px;
  padding: 0 16px;
  box-sizing: border-box;
}
.gnb .menu a {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 20.48px */
  padding-block: 16px;
}
.gnb .menu .face {
  padding-left: 24px;
  position: relative;
}
.gnb .menu .face::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 21px;
  background: url(../img/madIcon.svg) center/cover no-repeat;
  transform: translateY(-50%);
  margin-top: -2px;
}
.gnb .menu .item {
  position: relative;
  white-space: nowrap;
}
.gnb .menu .item:hover .subMenu {
  display: block;
}
.gnb .subMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.24);
  padding-block: 13px;
}
.gnb .subMenu a {
  box-sizing: border-box;
  min-width: 160px;
  display: block;
  color: #222;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 0 28px;
  white-space: nowrap;
}
.gnb .subMenu a:hover {
  background: #3B82F6;
  color: #fff;
}
.gnb .subMenu a + a {
  margin-top: 2px;
}
.gnb .login {
  gap: 8px;
}
.gnb .login .black {
  color: #FFF;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 32px;
  padding: 5px 16px;
  gap: 16px;
  border-radius: 50px;
  background: linear-gradient(90deg, #7C7C7C 0%, #000 100%);
  box-sizing: border-box;
}
.gnb .login .border {
  color: #000;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 104px;
  height: 32px;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  border: 2px solid #000;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding-top: 120px;
}
.hero h1 {
  margin-top: 64px;
}
.hero h5 {
  margin-top: 24px;
  color: #005EBA;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.96px;
}
.hero .bg {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: -150px;
}
.hero .black {
  background-color: #333;
  z-index: -1;
}
.hero .black .inner {
  text-align: left;
  max-width: 1012px;
  position: relative;
  padding-block: 56px 43px;
}
.hero .black h5 {
  color: #fff;
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
  line-height: 144%; /* 46.08px */
}
.hero .black .p1 {
  color: #fff;
  text-align: left;
  margin-bottom: 32px;
  line-height: 120%; /* 28.8px */
}
.hero .black img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero .animation {
  background: url(../img/bg_hero_pc.png) center/cover no-repeat;
  height: 750px;
  position: relative;
  overflow: hidden;
}
.hero .animation .obj {
  position: absolute;
}
.hero .animation .phone {
  bottom: -74px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.hero .animation .msg1 {
  top: 270px;
  left: 31%;
}
.hero .animation .msg2 {
  bottom: 45px;
  right: 11%;
}
.hero .animation .pic1 {
  top: 45%;
  left: 19.7%;
}
.hero .animation .pic2 {
  bottom: 117px;
  left: 13%;
}
.hero .animation .pic3 {
  top: 38%;
  right: 29%;
}
.hero .animation .pic4 {
  top: 50%;
  right: 13.8%;
}

.section-02 {
  padding: 160px 0 0;
  text-align: center;
}
.section-02 .graph {
  aspect-ratio: 1100/604;
  position: relative;
  background: url(../img/bg_section_02_graph.svg) center/contain no-repeat;
}
.section-02 .graph img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section-02 .graph .barWrap {
  position: absolute;
  top: 18.5%;
  left: 28%;
  width: 61%;
  height: 71.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-02 .graph .bar {
  position: relative;
  height: 13.3%;
  width: 32px;
  border-radius: 0 99px 99px 0;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.9) 4.25%, rgba(80, 80, 80, 0.9) 95.75%);
  transition: 0.5s;
}
.section-02 .graph .bar.aos-animate.bar1 {
  width: 100%;
}
.section-02 .graph .bar.aos-animate.bar2 {
  width: 68%;
}
.section-02 .graph .bar.aos-animate.bar3 {
  width: 48%;
}
.section-02 .graph .bar.aos-animate.bar4 {
  width: 43%;
}
.section-02 .graph .bar.aos-animate.bar5 {
  width: 32%;
}
.section-02 .graph .bar .name {
  display: none;
  position: absolute;
  left: 53px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: 144%; /* 40.32px */
  letter-spacing: 0.84px;
}
.section-02 .graph .bar span {
  display: none;
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  color: #6E6E6E;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%; /* 34.56px */
  letter-spacing: 0.72px;
}
.section-02 .graph .bar1 {
  background: linear-gradient(90deg, #0097D8 6.27%, #2B13FB 43.22%, #0050E9 102.34%);
}
.section-02 img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.section-02 h5 {
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}
.section-02 h2 {
  margin-block: 9px 16px;
}
.section-02 .para {
  margin-block: 70px 48px;
}
.section-02 .para span {
  margin-top: 70px;
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%; /* 46.08px */
}

.section-03 {
  overflow: hidden;
}
.section-03 .inner {
  max-width: 1120px;
}
.section-03 .rolling {
  width: 100%;
  margin: 0 auto;
  margin-top: -20px;
  padding-bottom: 130px;
  pointer-events: none;
}
.section-03 .rolling .swiper-wrapper {
  transition-timing-function: linear !important;
}
.section-03 .rolling .swiper {
  overflow: visible;
}
.section-03 .rolling .swiper-slide {
  padding: 20px;
  max-width: 240px;
}
.section-03 .rolling .item {
  aspect-ratio: 240/344;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  overflow: hidden;
}
.section-03 .rolling .item img {
  width: 100%;
}

.section-04 {
  background: #111;
  padding: 160px 0 140px;
}
.section-04 .inner {
  background: url(../img/bg_section04.png) center/100% no-repeat;
}
.section-04 h5 {
  color: #FFF;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.96px;
  margin-bottom: 32px;
}
.section-04 h2 {
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: -2.16px;
}
.section-04 h2 .color {
  color: #00E5FF;
  font-weight: 800;
}
.section-04 .imgWrap {
  max-width: 1111px;
  aspect-ratio: 1111/965;
  margin: 0 auto;
  margin-top: -65px;
  position: relative;
}
.section-04 .imgWrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section-04 .p1 {
  color: #FFF;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%; /* 34.56px */
  letter-spacing: -0.72px;
}
.section-04 .p1 span {
  font-weight: 700;
  padding: 0 15px;
  border-radius: 99px;
  border: 1px solid #fff;
  display: inline-block;
  margin-inline: 5px;
}
.section-04 .btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
  gap: 40px;
}

.section-05 {
  padding: 200px 0 192px;
  text-align: center;
  overflow: hidden;
}
.section-05 .inner {
  max-width: 1206px;
}
.section-05 .badge {
  color: #FFF;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 60px */
  letter-spacing: -1.2px;
  border-radius: 90px;
  background: linear-gradient(90deg, #00E5FF 0%, #1A6AFF 100%);
  width: 280px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.section-05 h1 {
  margin-bottom: 24px;
}
.section-05 h1 span {
  color: #005BEA;
}
.section-05 h5 {
  color: #000;
  text-align: center;
  font-family: "SUIT Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 144%; /* 46.08px */
  letter-spacing: -0.96px;
  margin-bottom: 80px;
}
.section-05 .slick {
  margin-bottom: 176px;
}
.section-05 .slick-list,
.section-05 .slick {
  overflow: visible;
}
.section-05 .slick-dots {
  bottom: -60px;
}
.section-05 .slick-dots li {
  margin: 0 12px;
}
.section-05 .slick-dots li button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.section-05 .slick-dots li button:before {
  position: static;
  width: 16px;
  height: 16px;
  border-radius: 99px;
  background: #111;
}
.section-05 .card {
  padding: 0 32px;
}
.section-05 .item {
  border-radius: 40px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(100deg, #111 17.67%, #777 57.68%, #424242 73.97%);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 60px 62px 60px 72px;
  box-sizing: border-box;
  word-break: keep-all;
}
.section-05 .item h4 {
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 144%; /* 69.12px */
  letter-spacing: -2.4px;
  text-align: left;
}
.section-05 .item .p1 {
  color: #FFF;
  font-family: "SUIT Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 30.72px */
  letter-spacing: -0.72px;
  margin-block: 16px 40px;
  text-align: left;
}
.section-05 .item .imgWrap {
  aspect-ratio: 480/400;
  max-width: 480px;
}
.section-05 .item .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.section-05 .left {
  text-align: left;
}
.section-05 .btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}/*# sourceMappingURL=style.css.map */